
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
page-yayi {


   border-radius: 14px !important;
    overflow:hidden !important;
    height: 55%;
    width: 50%;


  .roundedDev{
        height: 100%;
        width: 100%;

    }
.firsworks{
 display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    max-height: 346.5px;

    }
    .yayi{
        text-align: center;
        color: #ff9800;
        font-family: 'Lato', sans-serif;
        font-weight:400;
        font-size: 50px;

    }
    .shareLink{
        text-align: center;
        color: #4db6ac;
        font-family: 'Lato', sans-serif;
        font-weight:400;
        font-size: 30px;
         margin: 0 0;

    }
    .URL{
        text-align: center;
        color: #4db6ac;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size: 20px;
        position: relative;

    }
    .copyURL{
         position: fixed;
         text-align: center;
         width: 100%;
         margin: 0 0;
         padding: 0 0;
         bottom: 0;
         color: #fff;
            }
    

}

ion-modal {
    .modal-wrapper {
 position: absolute;
    width: 90%;
    height: 75%; 
    top: 11%;
    left: 5%;
    }
}
@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: visible;
  }
}