page-home {
.NoContent{
 display:block;
overflow:auto;


}
.NoContent img { 
display: block;
    margin: auto;

 }

 .NoContent div .noEventsText{
text-align: center;
margin-left: auto;
margin-right: auto;


 }
}
