page-settings {
.list-header-md {
margin: 0;
}

ion-list-header{
    margin-top: 15px;
}

.scroll-content {
        overflow: hidden !important;
    }
    .item-block .item,.div,div.item-content,.item .item-block, ion-item {
    background-color: color($colors, primary) !important;
}

}
