// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3f51b5,
  background: #9fa8da,
  secondary:  #1a237e,
  danger:     red,
  light:      #3f51b5
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

$background-color: color($colors, background);
// .item, .item-block{
// background-color: color($colors, primary);
// background: color($colors, primary);

// }
.content{
  background:  color($colors, primary);
}
ion-list .item .item-inner .input-wrapper ion-label{ 
color: color($colors, secondary);
}
ion-list .item{
background: color($colors, background);
border-color: color($colors, primary);
}

h1 , h2 , h3, h4 , h5, h6 , p {
  color: color($colors, secondary) !important;
}

.list .item-input.ng-valid.input-has-value:last-child {
  border-bottom-color: transparent;
}
.item-input ion-input, .item-input ion-textarea{
  color: white;
}

.text-input::-moz-placeholder {
  color: whitesmoke !important;
}

.text-input:-ms-input-placeholder {
  color: whitesmoke !important;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: whitesmoke !important;
}

/// @prop - Show the focus highlight when the input has focus
$text-input-ios-show-focus-highlight:      false !default;

/// @prop - Show the valid highlight when it is valid and has a value
$text-input-ios-show-valid-highlight:      $text-input-ios-show-focus-highlight !default;

/// @prop - Show the invalid highlight when it is invalid and has value
$text-input-ios-show-invalid-highlight:    $text-input-ios-show-focus-highlight !default;
$text-input-md-show-focus-highlight: false !default;
$text-input-md-show-valid-highlight: $text-input-md-show-focus-highlight !default;
$text-input-md-show-invalid-highlight: $text-input-md-show-focus-highlight !default;
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
