page-add-new-event {
.datetime-text:empty:not(:focus):before{
	content: '###';
    color: white;
}
.datetime-text{
        color: white;
}
content{
    background: color($colors, background);

}
img{
        display: block;
        width: auto;
        height: 145px;
        margin-left: auto;
        margin-right: auto;
         }
.item-block .item,.div,div.item-content,.item .item-block, ion-item {
    background-color: color($colors, background) !important;
}
}
